:root {
  --color-1: #FFF2F2;
  --color-2: #7286D3 ;
  --color-3: #E5E0FF;
  --color-4: #8EA7E0;
  --color-5: rgb(0, 102, 255);
  --color-6: #fff2f296;

  font-family: 'Acari Sans', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--color-3);
}
div#root {
  height: 100%;
}


input {
  border: none;
  border-bottom: #7286D3 solid 1px;
  background-color: transparent;
}

input {
  margin: 0 0.8em 0 0.8em;
  text-align: center;
}

.paint-calculator-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1em;
}

.paint-calculator-background>h2 {
  margin: 1em;
}

.paint-calculator-background .alert-info {
  margin: 0.5em;
}

.paint-calculator-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1150px) {
  .paint-calculator-input-container {
    flex-direction: row;
    align-items: start;
    height: 100%;
  }
}

.paint-calculator-background h3 {
  color: var(--color-2);
}

.wall-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-width: 250px;
  margin: 0 1em 1.5em 1em;
  padding: 0 0.5em 0.5em 0.5em;

  border-bottom: var(--color-2) solid 2px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6em;
}

.input-wrapper>label {
  display: inline-block;
  text-align: right;
  width: 120px;
}

.input-wrapper>input {
  width: 60px;
  font-weight: bold;
  color: var(--color-2);
}

.paint-calculator-background button {
  background: transparent;
  border: none;
  margin: 0.8em;
  padding: 1.2em;
  color: var(--color-1);
  background-color: var(--color-2); 
  border: solid var(--color-1);
  border-width: 1px 2px 2px 1px;
}

.paint-calculator-control-wrapper {
  display: flex;
  flex-direction: column;
}

.paint-calculator-background button:hover {
  border: solid var(--color-4);
  border-width: 1px 2px 2px 1px;
}

.paint-calculator-background button:active {
  color: var(--color-4);
  border: solid var(--color-5);
  border-width: 1px 2px 2px 1px;
}

.alert-info {
  background-color: var(--color-6);
  margin: 0.5em;
  padding: 0.5em;
  border: var(--color-4) solid 2px;
}

.alert-warning {
  background-color: var(--color-1);
  margin: 0.5em;
  padding: 0.5em;
  border: red solid 2px;
}

.paint-calculator-results {
  padding: 0.4em;
  margin: 0 1.5em 2em 1.5em;
}

.paint-calculator-results-row {
  display: flex;
  justify-content: space-between;
  border-bottom: black solid 1px;
  margin-top: 0.5em;
}

.paint-calculator-results-row:first-of-type {
  margin-bottom: 0.6em;
  font-size: 1.2em;
}

.paint-calculator-results-row>span:first-of-type {
  margin-right: 0.4em;
  width: 100%;
}

.paint-calculator-results-row>span:nth-of-type(2) {
  margin-left: 0.4em;
  width: 100%;
  text-align: left;
}